# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Build / temp
dist/
build/
tmp/

# Docker
.dockerignore



# IDE
.vscode/
.idea/